* {
    font-family    : 'Courier New', Courier, monospace;
    font-size      : 16px;
    margin         : 0;
    padding        : 0;
    list-style-type: none;
    box-sizing     : border-box;
    color          : #00ff00;
    text-decoration: none;
    outline        : none;
}

body,
html {
    background: #000;
    height    : 100vh;
    overflow  : auto;
}

body {
    padding: 20px;
}

@keyframes pulsate {
    from {
        opacity: 0.2
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.cursor {
    animation-name           : pulsate;
    animation-duration       : 500ms;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction      : alternate;
}

.fade-in {
    animation-name           : fadeIn;
    animation-duration       : 100ms;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

/***********************************
* TEXT BLOCK
***********************************/
.text-block {
    &.clickable {
        text-decoration: underline;
        cursor         : pointer;
    }
}

/***********************************
* VIDEO BLOCK
***********************************/
.video-block {
    margin         : 20px 0;
    position       : relative;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;

    video {
        width: 100%;
    }

    .replay {
        background     : #000000AA;
        position       : absolute;
        padding        : 10px;
        text-decoration: underline;
        opacity        : 0;
        pointer-events : none;
        transition     : opacity 300ms ease;
        z-index        : 3;

        &.visible {
            pointer-events: all;
            opacity       : 1;
        }
    }
}